/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */

body {
	font: 16px arial;
	background-color: blanchedalmond;
	background-image: url(2.png);
	color: chocolate;
}

.tob-bar{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 20px;
	background-color: gray;
	border-bottom: 3px solid rgb(194, 194, 194);
	z-index: 999;
}

.container {
	width: 600px;
	margin: 50px auto;
	background-color: cornsilk;
	border: 1px rgb(214, 214, 214) solid;
	position: relative;
}

.web {
	background-image: url(banner.png);
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -999px;
	position: absolute;
	top: 0px;
	right: -35px;
}

.header {
	padding: 20px;
	padding-bottom: 5px;
}

.header .judul {
	font-size: 38px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
}

.header a {
	text-decoration: none;
	color: crimson;
	padding: 3px;
}

.header a:hover {
	background-color: cyan;
	color: darkgrey;
}

.hero {
	height: 300px;
	background-image: url(1.jpg);
	background-size: cover;
	background-position: 0px;
	border-top: 5px solid plum;
	border-bottom: 2.5px solid gray;
}

.main {
	width: 350px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}
.main h2 {
	font-size: 20px;
	font-weight: bold;
}

.main .penulis {
	font-size: 12px;
}

.main .penulis a {
	color: #ff6b6b;
	text-decoration: none;
}

.main p {
	margin: 15px;
	font-size: 14px;
}

/* sidebar */
.sidebar {
	width: 250px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar h3 {
	font-weight: bold;
	font-size: 20px;
	color: rgb(255, 104, 104);
}
.sidebar img {
	height: 70px;
	float: left;
	padding: 10px;
}

.sidebar p {
	font: 14px arial;
}

.footer {
	background-color: rgb(66, 66, 66);
	padding: 10px;
}

.footer .copy {
	color: rgb(226, 226, 226);
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
	font-family: 'Courier New', Courier, monospace;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}