.satu {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 50px 100px 20px 10px;
}
.dua {
    width: 100px;
    height: 100px;
    background-color: burlywood;
}
.tiga {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
}